{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}
    <div class="container-fluid" align="center">
        <br>
        <div class="row-centered">
            <h3>
                Are you sure you want to delete product "{{ product.name }}"?
            </h3>
            <div class="col-md-11" align="center">
                <br>
                <img src="{{ product.image.url }}" width="400px" height="300px" alt="">
                <form id="form" action="{% url 'delete product' pk=product.pk %}" method="POST">
                    <br>
                    {{ form.as_p }}
                    <p>
                        <button id="submit" type="submit" class="btn btn-primary">Yes</button>
                        <a class="btn btn-secondary" href="{% url 'all products' %}">Go Back</a>
                    </p>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}