{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}
    <div class="container-fluid" align="center">
        <div class="row-centered">
            <br>
            <h1>Edit Product Category {{ productcategory.title }}</h1>
            <div class="col-md-11" align="center">
                <br>
                <form id="form" action="{% url 'edit product category' pk=productcategory.pk %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <br>
                    <p>
                        <button id="submit" type="submit" class="btn btn-primary">Edit</button>
                        <a href="{% url 'product categories' %}" class="btn btn-secondary">Go Back</a>
                    </p>
                </form>
            </div>
            <br><br><br>
        </div>
    </div>
{% endblock %}